.BlogDetailsBg {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(../images/various-fresh-vegetables.avif); /* The least supported option. */
  height: 40vh;
  color: white;
}

img {
  height: 70vh;
}

.progress-bar1 {
  background-color: #c33;
}

li img {
  width: 70px;
  height: 70px;
}
