
/* .menu {
    background-image: url("../images/menu/bg-blog.png");
}
.menu .specialHeading h5 {
    color: #c33;
}
.menuTitle {
    font-size: 40px;
    margin: 20px 0;
    color: black;
}
.iconsMenu {
    gap: 30px;
}
.iconItem {
    transition:
        transform 0.3s,
        color 0.3s,
        border-bottom 0.3s;
    position: relative;
}
.iconsMenu .iconItem img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.iconsMenu .iconItem p {
    display: block;
    font-size: 14px;
    color: #555;
}
.iconItem:hover {
    transform: scale(1.1);
    color: #c33;
}
.iconItem:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #c33;
}
.menuCardSec {
    border: none !important;
    box-shadow: 0 4px 8px rgba(179, 176, 176, 0.1);
    transition: transform 0.3s;
}
.menuCardSec img {
    background-color: #f2f2f2;
    height: 300px;
    padding: 20px;
    border: white 10px solid;
}
.menuCardSec:hover {
    transform: scale(1.05);
}
.rating {
    color: gold;
}
.showMoreBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.showMoreBtn:hover {
    background-color: #666;
}

.TeamSec .teamCard {
    border: none;
    transition: all 1s;
    position: relative;
    height: 100%;
}
.TeamSec .teamCard .card-img-top {
    height: 100%;
}
.TeamSec .FullCard {
    height: 450px;
}
.TeamSec h5 {
    color: #c33;
}
.TeamSec h2 {
    font-weight: 700;
}
.TeamSec .teamCard .card-body {
    background-color: white;
    height: 95px;
    box-shadow: rgba(0, 0, 0, 0.144) 0px 5px 12px;
    transition: all 0.7s;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.TeamSec .teamCard hr {
    border: 2px solid black;
    margin: 15px auto 15px auto;
}
.TeamSec .teamCard:hover .card-body {
    height: 190px;
    padding-bottom: 0;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog .newsTitle {
    color: #c33;
}
.blogSection {
    background-image: url("../images/menu/bg-blog.png");
}
.blogSection .blog h3 {
    text-align: center;
}
.blogSection .blog .latestNewsCard {
    width: 23rem;
}
.blogSection .blog .mainBlog {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.blogSection .blog h2 {
    font-weight: 700;
}
.blogSection .blog h6 {
    color: #c33;
    font-weight: 700;
}
.blogSection .blog .mainBlog .latestNewsCard {
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.229);
    border-radius: 0px;
}
.blogSection .blog .mainBlog .latestNewsCard img {
    border-radius: 0px;
}
.blogSection .blog .mainBlog .date-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogSection .blog .mainBlog a {
    color: black;
}
.blogSection .blog .showMore {
    width: 130px;
    padding: 10px 20px;
    background-color: #c33;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.blogSection .blog .showMore:hover {
    background-color: #666;
} */

/* call bg in about us page */


/* blog details page */
/* 
.BlogDetailsBg {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url(../images/various-fresh-vegetables.avif); 
    height: 40vh;
    color: white;
}

.BlogDetailsInner img {
    height: 70vh;
}

.progress-bar1 {
    background-color: #c33;
}

.BlogDetailsInner li img {
    width: 70px;
    height: 70px;
} */

/* contact us page */

/* .CallButton {
    color: #c33;
}

.CContactUsSection {
    box-shadow: -2px 10px 20px 5px #888888;
    border-radius: 5px;
}
.contact-form {
    margin-top: 15px;
    margin-bottom: 15px;
}
.contact-form .textarea {
    min-height: 200px;
    resize: none;
}
.CFormIcon {
    position: absolute;
    right: 5%;
    top: 35%;
}
.form-control {
    box-shadow: none;
    border-color: #eee;
    height: 49px;
    margin: 5px;
    margin-left: 0px;
}
.form-control:focus {
    box-shadow: none;
    border-color: #00b09c;
}
.form-control-feedback {
    line-height: 50px;
}
.main-btn {
    background-color: #c33;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
}
.main-btn:hover {
    background-color: #666;
    color: #fff;
}
.form-control-feedback {
    line-height: 50px;
    top: 0px;
}
.CAlert {
    padding: 8px;
    margin-top: 20px;
    margin-bottom: -18px;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    font-size: 100%;
    display: none;
}
.CGoogleMap {
    position: relative;
}
@media only screen and (max-width: 800px) {
    .CGoogleMap {
        padding-bottom: 70%;
    }
}
.CGoogleMap iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
} */

/* dashboard styles */
.offcanvas {
    --bs-offcanvas-width: 250px;
}
.sidebar-bg {
    width: 250px;
    background-color: #feeee3;
}
.sidebar-color {
    color: #c55;
    transition: 0.5s;
}
.sidebar-color:hover,
.sidebar-color:focus {
    color: #c54;
    scale: 1.1;
}
.sidebar-img {
    width: 10rem;
    height: 4rem;
}
.navbar-toggler {
    background-color: #fdc3c3;
}

/* src/CrudTable.css */
.crud-table {
    max-width: auto;
    margin: 2rem auto;
    border: 1px solid #deb5b5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.crud-table button {
    padding: 7px 7px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.crud-table button:hover {
    background-color: #0056b3;
}
.crud-table table {
    width: 100%;
    border-collapse: collapse;
}
.crud-table th,
.crud-table td {
    border: 1px solid #f7cece;
    padding: 8px;
    text-align: center;
}
.crud-table th {
    background-color: #f7d6d6;
}
@media (max-width: 600px) {
    .crud-table th,
    .crud-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
    .crud-table th {
        display: none;
    }
    .crud-table tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
    }
    .crud-table td {
        text-align: center;
        position: relative;
    }
}
