nav .collapse form button .custom-icon {
    color: #c33;
}
form .numButton{
    background-color: transparent;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}


h1 span{
    color: #c33; 
    text-decoration: underline
  }
.carousel-inner{
    background-image: url('../images/slider/banner-bg.jpg');
}
.carousel-indicators [data-bs-target] {
    background-color: #666 !important;
    width: 2rem;
    height: 0.2rem;
    display: flex;
    margin-right: 10px;
}
.carousel-indicators .active {
    background-color: #c33 !important;
}
/* Button Styles */
.btns {
    background-color: #c33;
    border: none;
} 
.order-btn {
    color: white;
    padding: 7px 25px;
    border-radius: 3px;
}
.watch-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.social-links {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-50%, -50%) rotate(90deg);   
}
ul li a{
    all: unset;
    cursor: pointer;
}
.carousel-control-next  , .carousel-control-prev {
    display: none;
}
.hero{
    background-image: url('../images/slider/banner-bg.jpg');
}
@media (max-width: 1148px) {
    .hero .carousel-item  img {
    width: 125%;
    height: 95%;
    }
    .hero .carousel-item    h1 {
    font-size: 30px;
    }
    .hero .carousel-item    h5 {
    font-size: 20px;
    }
    .hero .carousel-item  .btns {
    margin-bottom: 50px;
    font-size:small ;
    }
}
@media (max-width: 768px) {
    .hero .carousel-item h5 {
    padding-top: 1rem;
    }
    .hero .carousel-item h1 {
    font-size: 24px;
    }
    .hero .carousel-item h5 {
    font-size: 18px;
    }
    .hero .carousel-item img {
    width: 100%;
    height: 100%;
    align-self: center;
    padding-right: 10px;
    padding-bottom: 50px;
    }
    .btns {
    margin-bottom: 0 ;
    margin-left: 4rem;
    font-size: small;
    }
}


.featureBox {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.featureBox:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.featureBox .icon img {
    width: 50px;
    height: 50px;
}
.featureBox h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
}
.featureBox p {
    color: #777;
    font-size: 0.875rem;
}
.featureBox a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    display: inline-block;
}


.AboutUsSec .AboutUsTxt h5{
    color: #c33;
}
.AboutUsSec .AboutUsTxt h2{
    font-weight:700 ;
}
.AboutUsSec .AboutUsTxt .iconsSec .iconTxt h6{
    font-weight: 700;
}
.AboutUsSec .AboutUsBtn{
    padding: 8px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #c33;
    color: #ffff;
}
.AboutUsSec .AboutUsTxt{
    margin-left: 50px;
}
.AboutUsSec .AboutUsBtn:hover{
    background-color:#666 ;
}
.AboutUsSec .AboutUsTxt .iconsSec .icon{
    width: 40px;
    margin-right: 30px;
}


.AboutUsBg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/various-fresh-vegetables.avif); 
    height: 330px;
    color: white;
}
.menu {
    background-image: url('../images/menu/bg-blog.png');
  }
.menu .specialHeading h5{
    color: #c33;
}
  .menuTitle {
    font-size: 40px;
    margin: 20px 0;
    color: black;
  }
  .iconsMenu {
    gap: 30px;
  }
  .iconItem {
    transition: transform 0.3s, color 0.3s, border-bottom 0.3s;
    position: relative; 
  }
  .iconsMenu .iconItem img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .iconsMenu .iconItem p{
    display: block;
    font-size: 14px;
    color: #555;
  }
  .iconItem:hover {
    transform: scale(1.1); 
    color: #c33; 
  }
  .iconItem:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #c33; 
  }
  .menuCard {
    border: none !important;
    box-shadow: 0 4px 8px rgba(179, 176, 176, 0.1);
    transition: transform 0.3s;
  }
  .menuCard img {
    background-color: #f2f2f2;
    height: 300px;
    padding: 20px;
    border: white 10px solid;
  }
  .menuCard:hover {
    transform: scale(1.05);
  }
  .rating {
    color: gold;
  }
  .showMoreBtn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #c33;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .showMoreBtn:hover {
    background-color: #666;
  }


.DownloadInfo {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 900px;
}
.DownloadInfo .downloadInfo {
    display: flex;
    flex-direction: row;
    background-image: url(../images/downloadInfo/app-bg.png);
    padding: 32px;
    width: 85%;
    max-height: 400px;
}
.DownloadInfo .downloadTitle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.DownloadInfo .downloadImages {
    flex: 1;
}
.DownloadInfo .downloadImages .mobileScreenshots {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
.DownloadInfo .downloadImages .mobileScreenshots img {
    max-height: 100%;
}
.DownloadInfo .downloadImages .mobileScreenshots img:last-of-type {
    margin-top: -32px;
    margin-bottom: 40px;
}
@media (max-width: 1200px) {
    .DownloadInfo .downloadInfo {
        flex-direction: column; 
        max-height: none; 
    }

    .DownloadInfo .downloadImages .mobileScreenshots img {
        display: none;
    }

    .DownloadInfo .downloadImages .mobileScreenshots {
        justify-content: center; 
        gap: 0.5em; 
    }
}
@media (max-width: 768px) {
    .DownloadInfo {
        min-height: auto; 
        padding: 15px; 
    }

    .DownloadInfo .downloadTitle h3 {
        font-size: 20px; 
    }

    .DownloadInfo .downloadTitle p {
        font-size: 14px; 
    }

    .DownloadInfo .downloadImages .mobileScreenshots img {
        display: none;
    }
    .DownloadInfo .downloadTitle .downloadLink .link {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .DownloadInfo .downloadTitle h3 {
        font-size: 18px; 
    }

    .DownloadInfo .downloadTitle p {
        font-size: 12px; 
    }

    .DownloadInfo .downloadImages .mobileScreenshots img {
        display: none;
    }

    .DownloadInfo .downloadImages .mobileScreenshots img:last-of-type {
        margin-top: -8px;
    }
    .DownloadInfo .downloadTitle .downloadLink .link {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}  



.CheckSec{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/OpeningTimes/subscribe-bg.png);
    color: white;
}
.OpenTimes{
    position: relative;
}
.OpenTimes .CheckSec{
    margin-bottom: 90px;
}
.OpenTimes .CheckSec h2{
    font-weight: 700;
}
.OpenTimes .openingTimes h5{
    color: #c33;
}
.OpenTimes .openingTimes h2{
    font-weight:700 ;
}
.OpenTimes .openingTimes .ContactInfo h3{
    font-size: 20px;
    font-weight: 700;
}
.OpenTimes .openingTimes .ContactInfo p{
    font-size: 20px;
}
.OpenTimes .openingTimes{
    position: absolute;
    background-color: white;
    color: #000;
    right: 110px;
    bottom: -150px;
    box-shadow: rgba(228, 228, 228, 0.25) 0px 5px 15px;
}
.watch-btn {
    background-color: #c33;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.OpenTimes .openingTimes .TimesSec{
    margin: 0 auto;
    width: 380px;
}
.OpenTimes .openingTimes .TimesSec hr{
    margin: 0;
    border-style: dashed;
}


.TeamSec .teamCard{
    border: none;
    transition: all 1s;
    position: relative;
    height: 100%; 
}
.TeamSec .teamCard .card-img-top{
    height: 100%;
}
.TeamSec .FullCard{
    height: 450px;
}
.TeamSec h5{
    color: #c33;
}
.TeamSec h2{
    font-weight:700 ;
}
.TeamSec .teamCard .card-body{
    background-color: white;
    height: 95px;
    box-shadow: rgba(0, 0, 0, 0.144) 0px 5px 12px;
    transition: all 0.7s;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.TeamSec .teamCard hr{
    border: 2px solid black;
    margin: 15px auto 15px auto;
}
.TeamSec .teamCard:hover .card-body{
    height: 190px;
    padding-bottom: 0;
}


.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog .newsTitle{
    color: #c33;
}
.blogSection{
    background-image: url('../images/menu/bg-blog.png');
}
.blogSection .blog h3 {
    text-align: center;
}
.blogSection .blog .latestNewsCard {
    width: 23rem;
}
.blogSection .blog .mainBlog {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
}
.blogSection .blog h2{
    font-weight: 700;
}
.blogSection .blog h6{
    color: #c33;
    font-weight: 700;
}
.blogSection .blog .mainBlog .latestNewsCard{
    border: none;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.229);
    border-radius: 0px;
}
.blogSection .blog .mainBlog .latestNewsCard img{
    border-radius: 0px;
}
.blogSection .blog .mainBlog .date-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogSection .blog .mainBlog a {
    color: black;
}
.blogSection .blog .showMore {
    width: 130px;
    padding: 10px 20px;
    background-color: #c33;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.blogSection .blog .showMore:hover{
    background-color: #666;
}


footer{
    background-image: url(.././images/footer/footer-bg.png);
    color: white;
}
footer .row{
    padding-top: 60px;
    padding-bottom: 90px;
}
footer .title h5{
    font-weight: 700;
    font-style:  normal;
}
footer .title hr{
    width: 18%;
    border: 2px solid white;
    opacity: 1;
}
footer .contacts .contactsBody .contactsIcon{
    width: 23px;
}
footer .contacts .contactsBody .contactsIcon i{
    font-size: 23px;
}
footer .instagramImages{
    column-gap: 10px;
    row-gap: 10px;
}
footer .instagramImages .image{
    width: 27%;
    height: 75px;
}
footer .instagramImages .image img{
    height: 100%;
}
footer .subscribeInput input{
    padding: 7px 7px 8px 9px;
    border: none;
    outline: none;
}
footer .subscribeInput #subsbtn{
    padding: 8px 18px;
    border: none;
    background-color:#c33 ;
    color: #ffff;
    outline: none;
}
footer .subscribeInput #subsbtn:hover{
    background-color:#666 ;
}
footer .subscribeIcons i{
    padding: 0px 7px;
}
@media (max-width:1200px){
    footer .Subscribtion{
        width: 100%;
    }
}


/* call bg in about us page */
.CallBg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/MoreAboutUs/indianFood.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 330px;
    color: white;
}
.CallBg h2{
    font-weight: 700;
}
.CallBg .DiscoverBtn{
    padding: 8px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #79a1bb;
    color: #ffff;
}
.CallBg .Discover:hover{
    background-color: #517894;
}



/* blog details page */
.BlogDetailsBg {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
      url(../images/various-fresh-vegetables.avif); /* The least supported option. */
    height: 40vh;
    color: white;
  }
  
  .BlogDetailsInner img {
    height: 70vh;
  }
  
  .progress-bar1 {
    background-color: #c33;
  }
  
  .BlogDetailsInner li img {
    width: 70px;
    height: 70px;
  }


  /* contact us page */
  .CallButton {
    color: #c33;
  }
  .CContactUsSection {
    box-shadow: -2px 10px 20px 5px #888888;
    border-radius: 5px;
  }
  .contact-form {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .contact-form .textarea {
    min-height: 200px;
    resize: none;
  }
  .CFormIcon {
    position: absolute;
    right: 5%;
    top: 35%;
  }
  .form-control {
    box-shadow: none;
    border-color: #eee;
    height: 49px;
    margin: 5px;
    margin-left: 0px;
  }
  .form-control:focus {
    box-shadow: none;
    border-color: #00b09c;
  }
  .form-control-feedback {
    line-height: 50px;
  }
  .main-btn {
    background-color: #c33;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    color: #fff;
  }
  .main-btn:hover {
    background-color: #666;
    color: #fff;
  }
  .form-control-feedback {
    line-height: 50px;
    top: 0px;
  }
  .CAlert {
    padding: 8px;
    margin-top: 20px;
    margin-bottom: -18px;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    font-size: 100%;
    display: none;
  }
  .CGoogleMap {
    position: relative;
  }
  @media only screen and (max-width: 800px) {
    .CGoogleMap {
      padding-bottom: 70%;
    }
  }
  .CGoogleMap iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }


  
/* dashboard styles */
.offcanvas{
    --bs-offcanvas-width: 250px;
    }
    .sidebar-bg {
        width: 250px;
        background-color: #feeee3;
    }
    .sidebar-color{
      color: #c55;
      transition: 0.5s;
    }
    .sidebar-color:hover , .sidebar-color:focus{
      color: #c54;
      scale: 1.1;
    }
  .sidebar-img {
    width: 10rem;
    height: 4rem;
  }
  .navbar-toggler {
    background-color: #fdc3c3;;
  }




/* src/CrudTable.css */
.crud-table {
    max-width: auto;
    margin: 2rem auto;
    border: 1px solid #deb5b5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .crud-table button {
    padding: 7px 7px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .crud-table  button:hover {
    background-color: #0056b3;
  }
  .crud-table table {
    width: 100%;
    border-collapse: collapse;
  } 
  .crud-table th,.crud-table td {
    border: 1px solid #f7cece;
    padding: 8px;
    text-align: center;
  }  
  .crud-table th {
    background-color: #f7d6d6;
  }  
  @media (max-width: 600px) {
    .crud-table  th,.crud-table td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    
    }  
    .crud-table th {
      display: none; 
    }
    .crud-table tr {
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
    }
  .crud-table  td {
      text-align: center;
      position: relative;
    
    }
  }
  


  /* login css */
  /* src/App.css */
.bg {
    width: 100%;
    height: 100vh;
    background-image: url(../images/slider/banner-bg.jpg);
    background-size: cover;
  }
  .bg img {
    margin: 1.5rem 2rem;
  }
  .login-container {
    max-width: 400px;
    margin: 4rem auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    border: #f7999984 2px solid;
  }
  
  .login-container h2 {
    text-align: center;
    color: #c55;
    margin-bottom: 3rem;
    position: relative;
  }
  
  .login-container h2::before,
  .login-container h2::after {
    content: " ";
    background-color: #c54;
    width: 1.5rem;
    height: 2px;
    position: absolute;
    top: 50%;
  }
  .login-container h2::before {
    left: 27%;
  }
  .login-container h2::after {
    right: 27%;
  }
  
  .login-container input::placeholder {
    color: #c55;
  }
  .login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #c55;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1.5rem 0;
  }
  
  .login-container a {
    color: #c55;
  }
  
  .login-container button:hover {
    background-color: #c54;
  }
  
  .login-container input:focus {
    outline: none;
  }
  


  /* sign up style */

  html,
body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0; /* Remove default margin */
}

.page-container.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
}

.page-container .c-form {
  max-width: 450px; /* Set a max width for the form */
  width: 100%; /* Make the container responsive */
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.invalid-feedback {
  display: block; /* Ensure the error message is displayed */
}

.c-button {
  width: 100%;
  padding: 7px 0px;
  border-radius: 7px;
  margin-bottom: 15px;
  font-weight: 500;
  color: white;
  background-color: #c55;
  border: none;
}
