.AboutUsBg{
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../imagmenu/various-fresh-vegetables.avif); 
  height: 330px;
  color: white;
}
.special-heading h4 {
  color: #c33;
  font-size: 24px;
  font-weight: 500;
}
.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: #fff9f4 !important;
}
.menu-title {
  font-size: 40px;
  margin: 20px 0;
  color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #ccc;
}

.icon-item {
  text-align: center;
  margin: 0 15px;
}

.icon-item img {
  width: 50px;
}
.icon-item:hover {
  cursor: pointer;
  scale: 1.1;

  transition: 0.3s;
}
.icon-item p {
  display: block;
  font-size: 14px;
  color: #555;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}

.menu-card {
  margin: 10px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width:calc(100%/4.5);
  border: none;
  box-shadow: 0 4px 8px rgba(179, 176, 176, 0.1);
  transition: 0.3s;
}
.menu-card:hover {
  transform: scale(1.05);
}

.food-img1 {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-bottom: 20px;

} 
  .card-title {
  font-size: 1.1rem;
}
 .card-text {
  font-size: 0.9rem;
}

.rating {
  color: gold;
}

.show-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.show-more-btn:hover {
  background-color: #218838;
}
