.AboutUsBg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/aboutUsimages/various-fresh-vegetables.avif); /* The least supported option. */
    height: 330px;
    color: white;
}
.CallBg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/aboutUsimages/indianFood.jpg); /* The least supported option. */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 330px;
    color: white;
}
.CallBg .Discover{
    padding: 8px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    background-color: #79a1bb;
    color: #ffff;
}
.CallBg .Discover:hover{
    background-color: #517894;
}