body {
    background-color:  #faf0e9;
  }

  .special-heading {
    text-align: center;
    margin-bottom: 20px;
}

.special-heading h2 {
    color: #D64545; 
    font-size: 24px;
    font-weight: 500;
    
}
  
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(179, 176, 176, 0.1);
    transition: transform 0.3s;
  }
  .card img {
    background-color: #cec6c6;
    width: 240px;
    height: 300px;
    padding: 20px;
    margin: 10px;
  }

  .hidden {
    display: none;
  }
  





  
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-title {
    font-size: 1.1rem;
  }
  
  .card-text {
    font-size: 0.9rem;
  }
  
  .stars {
    color: #ffc107;
  }
  
  .text-danger {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
  
  a:hover {
    color: #dc3545;
  }
  
  .category-filter a.active {
    color: #dc3545;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border: none;
  }
  
  
  .hidden {
    display: none;
  }
  .special-menu {
    text-align: center;
    padding: 20px 0;
}





.icons-menu {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-item {
    text-align: center;
}

.icon-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  
}

.icon-item span {
    display: block;
    font-size: 14px;
    font-family:'Great vibes',cursive;
    /* font-family: 'Dancing Script',cursive; */
    /* font-family: 'Allura',cursive; */
    /* font-family: circular; */
    color: #555;
   
}

.icon-item {
  transition: transform 0.3s, color 0.3s, border-bottom 0.3s;
  position: relative; 
}

.icon-item:hover {
  transform: scale(1.1); 
  color: #dc3545; 
}

.icon-item:hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: #dc3545; 
}
 
