.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog h3 {
    text-align: center;
}

.blog .blog-details-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/blogimgs/various-fresh-vegetables.avif); /* The least supported option. */
    height: 40vh;
    color: white;
    width: 100%;
}



.blog .main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    
    
}


.blog .main .date-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog .main .date-blog p {
    color: gray;
}


.blog .show-more {
    width: 130px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}