.scroll{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #c33;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 20px;
  }
.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blog .card{
    border: none;
    box-shadow: 0 5px 15px rgba(80, 80, 80, 0.27);
}
.blog h3 {
    text-align: center;
}

.blog .blog-details-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/blogimgs/various-fresh-vegetables.avif); /* The least supported option. */
    height: 40vh;
    color: white;
    width: 100%;
}

.blog .main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    
    
}

.date-blog a{
    color: gray;
}

.blog .main .date-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog .main .date-blog p {
    color: gray;
}


.blog .show-more {
    width: 130px;
    padding: 10px 20px;
    background-color: #c33;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}