.blogSection .blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blogSection .blog h3 {
    text-align: center;
}

.blogSection .blog .blogBg{
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/blogimgs/various-fresh-vegetables.avif); 
    height: 40vh;
    color: white;
    width: 100%;
}



.blogSection .blog .mainBlog {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    
    
}


.blogSection .blog .mainBlog .date-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blogSection .blog .mainBlog .date-blog p {
    color: gray;
}

.blogSection .blog .mainBlog .cardButton {
    background-color: #ffffff;
    border-radius: 10px;
}

.blogSection .blog .showMore {
    width: 130px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}

