.feature-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 7px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.feature-box .icon img {
    width: 50px;
    height: 50px;
}

.feature-box h5 {
    font-size: 1.25rem;
    margin-bottom: 15px;
    color: #333;
}

.feature-box p {
    color: #777;
    font-size: 0.875rem;
}

.feature-box a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    display: inline-block;
}

/* .feature-box a:hover {
    text-decoration: underline;
} */