.menuBtn button{
    box-shadow: rgba(120, 128, 135, 0.299) 0px 8px 24px;
    border-radius: 15px 4px 15px 4px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    border: none;
    background-color: #c33;
}
.menuBtn button:hover{
    background-color: #666;
}
.menuBtn button:first-child{
    background-color: #101a24;
}
.homeMenu{
    background-color: #f3f3f4;
}
